.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header" "sidebar main";
  min-height: 100vh;
  &-header {
    grid-area: header;
    height: 65px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  &-sidebar {
    grid-area: sidebar;
    width: 250px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &-main {
    grid-area: main;  
  }
}