.Search {
    background-color: transparent; 
    .searchInputs {
      @include flex(center, center);
      margin: 0 auto;
      text-align: left;
      width: 700px;
      position: relative;
      padding: 0px  30px;
      background-color: rgb(223, 217, 217);
      border-radius: 10px;
    
      .icon {
      height: 100%;
      display: flex;
      justify-content: center;
      width: max-content;
      align-items: center;
      }

      .input {
        background-color: rgb(223, 217, 217);
        width: 700px;
        margin-left: 10px;
        border: 0;
        border-radius: 10px;
        font-size: 18px;
        padding: 15px;
        height: 40px;
      }
      

      .search {
        position: absolute;
        left: 0;
        padding: 0 10px;
        pointer-events: none;
      }

      .filter {
        position: absolute;
        right:   0;
        padding: 0 5px;
      }

    }
}

.grid {
  width: 700px;
  height: 480px;
  position: relative;
  .row {
    display: flex;
    margin-top: 20px;
    height: 86px;
    align-items: center;
    .content {
      width: 100px;
      margin: auto 10px;
    }
  }
  .select-kind {
    font-size: 13px;
    .test {
      display: flex;
      .iconic {
        align-items: center;
      }
    }
  }
  
  .textf {
    width: 450px; 
    padding-bottom: 20px;
    label{
      font-weight: bolder;
      font-size: 15px;
      color: black;
    }
  }
  .close {
    margin-left: 60px;
  }
  .fword {
    width: 450px;
    border: 2px solid #c1bebf ;
  }
  .fword:hover {
    border: 1px dashed transparent;
    box-shadow: inset 0 -2px 0 0 #4285f4;
  }
  .address {
    width: 100px;
    margin: 0 10px;
  }
  .btn-address {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  .btn-address:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
  .ckbox span{
    font-size: 13px;
  }
  .option-wrapper {
    position: sticky;
    width: 700px;
    bottom: 0;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
  .more-info {
    margin: auto 10px auto;
    .btn-info {
      color: #4285f4;
      background-color: white;
      padding: 5px 20px;
      font-weight: bold;
      border-radius: 2px;
      cursor: pointer;
    }
    .btn-info:hover {
      background-color: #c1bebf;
      transition: all 0.1s;
    }
  }
  .search-wrapper {
    display: flex;
    margin: 10px 10px;
    .btn-reset {
      margin: 0 10px;
      padding: 5px 20px;
      background-color: white;
      font-weight: bold;
      border-radius: 2px;
      cursor: pointer;
    }
    .btn-reset:hover {
      margin-bottom: 1px;
      border: 1px solid;
      box-shadow: 1px 1px #9e9d9d;
      transition: all 1s;
    }
    .btn-search {
      margin: 0 10px;
      padding: 5px 20px;
      background-color: #4285f4;
      border-radius: 2px;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
    .btn-search:hover {
      margin-bottom: 1px;
      border: 1px solid;
      box-shadow: 1px 1px #9e9d9d;
      transition: all 1s;
    }

  }
}  

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  padding-right: 24px;
  min-width: 16px;
  display: flex;
}