@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  box-sizing: inherit;
  text-decoration: none;
  color: unset;
}

a:hover {
  color: $main-color;
}

.container {
  width: 100%;
  min-height: 100vh;
  user-select: none;
  overflow: hidden;
  position: relative;

  &:before {
    background-image: $background-image;
    background-size: cover;
    bottom: -5px;
    content: "";
    left: -5px;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
  }
}

.errors-message {
  display: block;
  color: #ED213A;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 2px auto;
}

// menu size icon
.css-i4bv87-MuiSvgIcon-root
{
  font-size: 3.5rem !important;
}
// menu text
.css-10hburv-MuiTypography-root
{
  font-size: 1.7rem !important;
  font-weight: bold !important;
}