$main-color: #0884ff;
$main-background-color: #e6e6e6;
$background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  url('../assets/images/background.png');
$text-main-color: #000;
$text-second-color: #464646;
$text-white: #fff;

$header-height: 60px;
